# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Telegram Session Files
*.session
*.session-journal

# Database
data/
*.sqlite
*.sqlite3
*.db

# Logs
logs/
*.log

# Media
media/*
!media/.gitkeep

# IDEs
.idea/
.vscode/
*.swp
